<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>美食菜单</title>
	<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../static/common/common.css">
   <script src="../../static/bootstrap/js/jquery-1.11.3.min.js"></script>
   <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
   <script src="../../static/bootstrap/js/holder.min.js"></script>
</head>

<body>
	<!-- header部分 -->
	<header class="myheader">
		<div class="container">
			<!-- <%--logo--%> -->
			<div class="header-logo">
                <a href="" class=""><img class="" data-src="holder.js/100x100"/></a>
            </div>
			<!-- <%--search--%> -->
            <div class="header-search">
				<form class="search" role="search">
			        <input type="text" class="form-control" placeholder="Search" style="width:400px;"/>
			        <button type="submit" class="btn search-btn">搜索</button>
				</form>
  			</div>
  			<!--<%--login regist--%>-->
  			<div class="header-login">
             		<span class="login-regist btn"><a href="#">登录</a></span>
        			<span class="login-regist btn"><a href="#">注册</a></span>
	        </div>
		</div>
	</header>
	<!-- 导航部分start -->
  	<nav class="navbar navbar-default mynav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-for-nav">
                	<ul class="nav navbar-nav">
						<li class=" myli"><a href="../../index.html">首页</a></li>
	        			<li class="myli"><a href="menu.html">菜谱大全</a></li>
	        			<li class="myli"><a href="top_person.html">美食达人<span class="sr-only">(current)</span></a></li>
	        			<li class="active myli"><a href="foodmenu.html">美食菜单</a></li>
	        			<li class="myli"><a href="topic.html">话题</a></li>
	        		</ul>
                </div>
                
            </div>
        </div>
    </nav> 
    <!-- 导航部分end -->
	
</body>
<script src="static/common/common.js"></script>
</html>
<script type="text/javascript">
</script>