<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>菜谱大全</title>
	<link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../static/common/common.css">
   <script src="../../static/bootstrap/js/jquery-1.11.3.min.js"></script>
   <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
   <script src="../../static/bootstrap/js/holder.min.js"></script>
</head>

<body>
	<!-- header部分 -->
	<header class="myheader">
		<div class="container">
			<!-- <%--logo--%> -->
			<div class="header-logo">
                <a href="" class=""><img class="" data-src="holder.js/100x100"/></a>
            </div>
			<!-- <%--search--%> -->
            <div class="header-search">
				<form class="search" role="search">
			        <input type="text" class="form-control" placeholder="Search" style="width:400px;"/>
			        <button type="submit" class="btn search-btn">搜索</button>
				</form>
  			</div>
  			<!--<%--login regist--%>-->
  			<div class="header-login">
             		<span class="login-regist btn"><a href="#">登录</a></span>
        			<span class="login-regist btn"><a href="#">注册</a></span>
	        </div>
		</div>
	</header>
	<!-- 导航部分start -->
  	<nav class="navbar navbar-default mynav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-for-nav">
                	<ul class="nav navbar-nav">
						<li class="myli"><a href="../../index.html">首页</a></li>
	        			<li class="active myli"><a href="menu.html">菜谱大全<span class="sr-only">(current)</span></a></li>
	        			<li class="myli"><a href="top_person.html">美食达人</a></li>
	        			<li class="myli"><a href="foodmenu.html">美食菜单</a></li>
	        			<li class="myli"><a href="topic.html">话题</a></li>
	        		</ul>
                </div>
                
            </div>
        </div>
    </nav> 
    <!-- 导航部分end -->
	<!-- 切换卡部分start -->
<!--	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="tabbable" id="tabs-972080">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#panel-119784" data-toggle="tab">第一部分</a>
						</li>
						<li>
							<a href="#panel-410957" data-toggle="tab">第二部分</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-119784">
							<p>
								第一部分内容.
							</p>
						</div>
						<div class="tab-pane" id="panel-410957">
							<p>
								第二部分内容.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

	<!-- 切换卡部分end-->

</body>
<script src="static/common/common.js"></script>
</html>
<script type="text/javascript">
</script>